html,
body {
    height: 100%;
}

.h2 {
    color: #881c1c;
}

body {
    justify-content: center;
    background-color: #f5f5f5;
}

.login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.redColor{
    color: #881C1C;
    font-weight: bold;
}