.profile-container {
    display: flex;
    align-items: center;
    background-color: rgba(136, 28, 28, 0.07);

    border: 1px;
    border-style: solid;
    border-color: slategray;
    border-radius: 20px 20px 0px 0px;
    border-bottom: none;

    color: #881C1C;

    font-weight: 800;
    font-size: 18px;
    line-height: 50px;
    height: 50px;
}

.avatar2 {
    height: 100px;
    width: 100px;
}